.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member：
          %li.member
            メンバー名１；
          %li.member
            メンバー名２；
          %li.member
            メンバー名３；
      .right-header
        .right-header__button
          Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            メンバーテスト１
          .upper-message__date
            2019/09/09
        .lower-meesage
          .lower-message__content
            メッセージテスト１
      .message
        .upper-message
          .upper-message__user-name
            メンバーテスト２
          .upper-message__date
            2019/09/09
        .lower-meesage
          .lower-message__content
            メッセージテスト２
      .message
        .upper-message
          .upper-message__user-name
            メンバーテスト３
          .upper-message__date
            2019/09/09
        .lower-meesage
          .lower-message__content
            メッセージテスト３
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}
